@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');



* {
    margin: 0;
    padding: 0;
    outline: 0;
    /*    overflow: hidden;*/
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;

}

img {
    vertical-align: middle;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

p {
    letter-spacing: 0;
    line-height: 1.8;
}

body {}

a:hover,
a {
    text-decoration: none;
}

/*--- Default css ends---*/



/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #00B0DC;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*---------- preloader css ends -------------*/


/*--banner css starts--*/
.banner {
    background-image: url("../images/home/2.jpg");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner .banner_overlay {
    padding: 200px;
    background-color: rgba(0, 0, 0, 0.76);
}

/*--banner css end--*/






/*--nav css start--*/
.menu {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;
    /*    margin-top: px;*/
}

/*
.menu .navbar-nav .nav-item .nav-link{
        color: white;
    padding-right: 56px;
    font-size: 20px;
  
}
*/
.menu .navbar-brand {
    color: white;
    margin-left: 98px;
    font-size: 21px;
    font-weight: 700;

}

.banner .contant_img img {
    height: 149px;
    width: 16%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    border: 5px solid #00b0dc;

}

/*--neon effect of navber start--*/
.main .neone {
    text-decoration: none;
    position: relative;
    /*    display: inline-block;*/
    margin: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    overflow: hidden;
    /*    transition: .2s;*/
}



.neone span {
    position: absolute;
    /*    display: block;*/
}

.main .neone span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, transparent, #00b0dc);

}

.main .neone:hover span:nth-child(1) {

    left: 100%;
    transition: linear 1s;


}

.main .neone span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(270deg, transparent, #00b0dc);

}

.main .neone:hover span:nth-child(3) {

    right: 100%;
    transition: linear 1s;


}

/*--neon effect of navber end--*/


.banner .banner_contant h3 {
    color: #fff;
    font-size: 45px;
    margin-top: 20px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.banner .intro {
    color: white;
}

.banner .banner_contant .banner_icon a i {
    margin-top: 36px;
    color: white;
    margin-right: 31px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid;
    transition: all linear .3s;
}

.banner .banner_contant .banner_icon a i:hover {
    background-color: #00b0dc;
    transition: all linear .3s;

}

/*--banner css end--*/



/*--- 3. Mouse animation starts---*/

@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

.mouse-scroll {
    position: absolute;
    left: 48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 5%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 60px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/





/*  ==== Navigation sticky code start=====*/

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 111;
    transition: all linear .3s;
}


.navfixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    transition: all linear 0.5s;
}

.navfixed .nav-item .nav-link {
    font-size: 16px;
    color: #fff !important;
    transition: 0.4s;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

#navigation .nav-item {
    padding-left: 15px;
}

#navigation .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffff;
    transition: all linear 0.5s;
}

.navfixed .navbar {
    padding: 0;
    height: 80px;
}

.navfixed .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    transition: all linear 0.5s;
}

#navigation .navbar-light .navbar-nav .active > .nav-link {
    color: #00b0dc;
}

#navigation .nav-item .nav-link {
    font-size: 16px;
    color: #ffff;
    transition: 0.4s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
}

#navigation .navbar-light .navbar-nav .nav-link:focus,
#navigation .navbar-light .navbar-nav .nav-link:hover {
    color: #00b0dc;
}

.navfixed .navbar-light .navbar-nav .nav-link:focus,
.navfixed .navbar-light .navbar-nav .nav-link:hover {
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

/*  ==== Navigation sticky code end=====*/


/*-----About area css starts------*/

.stack {
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
    display: inline-block;
}

.stack img {
    background: #fff;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    width: 100%;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.stack::before {
    background: #969696;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.btn-a {
    animation-delay: 2s;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
    animation-delay: 2s;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
    margin-right: 15px;
}

.skill-btn {
    transition: all linear .5s;
    border: 1px solid #00b0dc;
    color: black;
}

.skill-btn:hover {
    color: white;
    background: #00b0dc;
    transition: all linear .5s;

}

.down-btn {
    background: none;
    color: #2B2F37;
    border: 1px solid #00b0dc;
}

.about-text-left {
    margin-top: 90px;
}

.about-text-left p {
    text-align: right;
    font-size: 15px;
    color: #fafafa;
    margin-bottom: 20px;
}



.about-right h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about-text-right h3 {
    color: #fafafa;
    margin-bottom: 45px;
}

.about-text-right h6 {
    color: #333333;
}

.about-right p span {
    color: #262626;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-list {
    list-style: none;
}

.about-right .about-list li {
    margin-bottom: 10px;
}

.about-right .about-list li .title {
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: 700;
}

.about-right .about-list li .title:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #e1e1e1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.about-right .about-list li .title:after {
    position: absolute;
    content: ':';
    right: -8px;
}

.about-right .about-list li .value {
    position: relative;
}

.about-right .about-list li .value:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.about-area {
    margin: 100px 0;
}

/*-------About area css ends----------*/






/*-------- 7. Services area starts ----------*/


.services-area {
    background: #f8f8f8;
}

.service {
    text-align: center;
}

.section-title {
    margin-bottom: 57px;
}

.section-title span {
    color: #00b0dc;
}

.service-box {
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    transition: .9s;
}

.service-icon i {
    font-size: 50px;
    color: #00B0DC;
    margin-bottom: 20px;
}

.service-box:hover:after {
    top: 0;
    height: 100%;
    transition: 0.9s;
}

.service-box:hover .after {
    bottom: 0;
    height: 100%;
    transition: 0.9s;
}

.service-box:hover:before {
    left: 0;
    width: 100%;
    transition: 0.9s;
}

.service-box:hover .before {
    right: 0;
    width: 100%;
    transition: 0.9s;
}

.service-box:hover:before,
.service-box:hover .before {
    width: 100%;
    transition: 0.9s;
}

.service-box:after {
    height: 80%;
    width: 2px;
    content: '';
    top: 10%;
    left: 0px;
    transition: 0.9s;
}

.service-box .before,
.service-box .after,
.service-box:before,
.service-box:after {
    background: #777;
    position: absolute;
    transition: 0.9s;
}

.service-box:before {
    height: 2px;
    width: 80%;
    content: '';
    top: 0px;
    left: 10%;
    transition: 0.9s;
}

.service-box .before {
    height: 2px;
    width: 80%;
    bottom: 0px;
    right: 10%;
    transition: 0.9s;
}

.service-box .after {
    height: 80%;
    width: 2px;
    bottom: 10%;
    right: 0px;
    transition: 0.9s;
}

/*-------- Services area ends ----------*/





/*---portfolio css start---*/
#fortfolio {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

#fortfolio .portfolio_nav .nav-item {
    margin-right: 23px;
}

#fortfolio .portfolio_nav .nav-item .nav-link {
    color: black;
    font-size: 22px;
cursor: context-menu;
    padding: 11px 17px;

}

#fortfolio .portfolio_nav .nav-item {
    position: relative;
}

#fortfolio .portfolio_nav .nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #00b0dc;
    transform: scaleX(0);

    transform-origin: bottom right;

    transition: transform .5s;

}


#fortfolio .nav-link:hover:after {

    transform-origin: bottom left;
    transition: transform .5s;
    transform: scaleX(1);
}

.portfolio_img {
    margin-top: 50px;
}

.portfolio_img img {
    height: 305px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}


.img_overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: all linear .3s;


}

.img_overlay:hover {
    opacity: 1;
    transition: all linear .3s;
}

.img_overlay {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_overlay a {
    color: #090a0c;
}

.img_overlay a:hover {
    color: #00b0dc
}

.not a:hover,
.not a {
    color: black;
    font-size: 25px;
}

/*---portfolio css end--*/
